*{
background-color: black;
color: #fff;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

#padre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

#hijos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

/* ESTILOS DE LOS BOTONES */
.css-button-rounded--green {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #57cc99;
    background: #57cc99;
}

.css-button-rounded--green:hover {
    background: #fff;
    color: #57cc99
}

.css-button-rounded--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #2c0b8e;
    background: #2c0b8e;
}

.css-button-rounded--blue:hover {
    background: #fff;
    color: #2c0b8e
}

@media screen and (min-width: 576px) {  /* tablet */

}

@media screen and (min-width: 1200px) {  /* desktop */

}
